<div class="main">
  <p class="subhead"><%=@title%></p>
  <p class="lister">episode: <%=@episode%></p>
  <p class="lister">director: <%=@director%></p>
  <p class="lister">release date: <%=@release%></p>
  <button><%= link_to("go back",{action:"films"}) %></button>
  <button><%= link_to("home",{action:"home"}) %></button>
</div>
