<div class="main">
  <p class="subhead"><%= @name %></p>
  <p class="lister">classification: <%= @classification %></p>
  <p class="lister">designation: <%= @designation %></p>
  <p class="lister">skin color: <%= @skin_color %></p>
  <p class="lister">language: <%= @language %></p>
  <button><%= link_to("go back",{action:"species"}) %></button>
  <button><%= link_to("home",{action:"home"}) %></button>
</div>
